.DayPicker__hidden{
    visibility: visible;
}
.DateInput_input {
    font-size: 15px;
    width: 131px;
}

.DateRangePicker {
    width: 100%;
}

.CalendarMonth_caption {
    font-size: 17px;
    font-weight: 600;
}

.CalendarDay {
    font-size: 13px;
    font-weight: 600;
}

.CalendarMonth_table {
    margin-top: 6px;
}

.DayPicker__withBorder {
    box-shadow: none;
}
.DayPicker_transitionContainer {
    /* overflow: visible!important; */

}